.header__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__text h1 {
  font-size: 5rem;
  line-height: 5rem;

}

.header__text p { max-width: 36rem; }
.about__section h2 { font-weight: 500; }

.header__section img {
  max-width: 25rem;
  width: auto;
}

.about__section li {
  margin-bottom: 1rem;
}