.projeto__section p {
    max-width: 35rem;
}

.projeto__card p {
    max-width: 30rem;
}

.projeto__card {
    display: flex;
    margin: 3rem 0;
    gap: 1rem;    
    justify-content: space-between;
    flex-wrap: wrap;     
}

.image__container {
    max-width: 35rem;
    max-height: 18.75rem;
} 

.image__container img {
    border-radius: .5rem;
    object-fit: fill;
}

@media screen and (max-width: 622px) {
    .image__container img {
        max-width: 86vw;
    }
}

.projeto__card__texto h3 {
    font-size: 1.125rem;
    margin-top: 0;
}

.projeto__card__texto a {
    color: var(--black);
    font-weight: 500;
    text-decoration: underline;
}